version: "3.9"

services:
  postgres:
    image: postgres:15
    restart: unless-stopped
    environment:
      POSTGRES_USER: trustfy
      POSTGRES_PASSWORD: password
      POSTGRES_DB: trustfy
    ports:
      - "5433:5432"
    volumes:
      - postgres-data:/var/lib/postgresql/data

  redis:
    image: redis:7
    restart: unless-stopped
    ports:
      - "6379:6379"

  minio:
    image: minio/minio:latest
    environment:
      MINIO_ROOT_USER: minioadmin
      MINIO_ROOT_PASSWORD: minioadmin
    command: server /data
    ports:
      - "9000:9000"
    volumes:
      - minio-data:/data

  api:
    build:
      context: ./api
      dockerfile: Dockerfile
    env_file:
      - .env
    ports:
      - "4000:4000"
    depends_on:
      - postgres
      - redis
      - minio
    volumes:
      - ./api:/usr/src/app
    command: ["npm", "run", "start"]

  worker:
    build:
      context: .
      dockerfile: worker/Dockerfile
    env_file:
      - .env
    depends_on:
      - api
      - postgres
      - redis
      - minio
    volumes:
      - ./worker:/usr/src/app
    command: ["npm", "run", "start"]

  web:
    build:
      context: ./web
      dockerfile: Dockerfile
    ports:
      - "5173:5173"
    depends_on:
      - api
    environment:
      VITE_API_URL: "http://api:4000"
    volumes:
      - ./web:/usr/src/app
    command: ["npm", "run", "dev", "--", "--host", "0.0.0.0", "--port", "5173"]

volumes:
  postgres-data:
  minio-data:
